.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 7rem 2rem 2rem 4rem;
    transition: margin-left $transitionDuration;   
}
.second-layout-container{

/* Modificacion para landing */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    width: 100% !important;
    overflow-x: hidden;
    padding-top: 65px ;
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-color: white !important;
    
}
.layout-main-container-footer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    transition: margin-left $transitionDuration;
}

.layout-main {
    flex: 1 1 auto;
}
